.main-container{
    display: flex;
    width: 85%;
    padding-left: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.item-display{
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(227,233,226);
}

.item-display > img{
    height: 80%;
    width: 20%;
}

.input-for-calorie > input{
    border: 3px solid rgb(92,20,127);
    padding: 2px;
}

.input-for-calorie > button{
    background-color: rgb(92,20,127);
    border: 4px solid rgb(92,20,127);
    width: 25px;
    color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.627);
    cursor: pointer;
}

.calorie-counter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
}

.calorie-counter > p{
    padding-right: 15px;
}

.calorie-counter > button{
    height: 40px;
    width: 75px;
    border-radius: 0px;
    cursor: pointer;
    background-color: rgb(114,113,114);
    color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.627);
}